* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 55px;
  background-color: #F55A5A;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nav--logo {
  width: 30px;
  height: 30px;
}

img + span {
  margin-left: 5px;
}


.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}


section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  align-items: center;

}

.slot {
  width: 520px;
  height: 220px;
  display: flex;
  flex-direction: column;
  top:100px;
}



.poster {
  border-radius: 5px;
  width: 130px;
  height: 190px;
  object-fit: cover;
}

.top_part{
  display: flex;
  flex-direction: row;
  align-items: left;
  height: 20px;
}

.rating_start_slot {
 
  height: 20px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.middle_part{
  font-size: 12px;
  
  margin-top:10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 12px;
  
  color: #2B283A;
}

.bottom_part{
  font-size: 14px;
  text-align: justify;
  margin-top:10px;
}

.under_top_part {
  margin-top:10px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: bolder;
  font-size: 25px;
  line-height: 30px;
  
  color: #2B283A;
}

span + a {
  margin-left:7px;

  font-family: 'Inter';
font-style: normal;
font-weight: 400;

/* identical to box height */

text-decoration-line: underline;

color: #918E9B;
}

.location_slot {

  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  color: #2B283A;
}